SnortGUI/target/*
CleaveLimitedPlayer/target/*
LinesOfAction/target/*
Dominion/target/*
SnortCLI/target/*
BoardGame/target/*
BoardGameEngine/target/*
Fission/target/*
NaivePlayer/target/*
SnortEngine/target/*
NastyPlayer/target/*
Cleave/target/*
ZajPew/target/*
